@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: "graphik";
    src: url("../fonts/GraphikRegular.woff2") format("woff2"),
      url("../fonts/GraphikRegular.woff") format("woff");
  }

  @font-face {
    font-family: "lores";
    src: url("../fonts/LoRes12OTNarrow-Regular.woff2") format("woff2"),
      url("../fonts/LoRes12OTNarrow-Regular.woff") format("woff");
  }

  body {
    @apply bg-primary text-white font-graphik
  }
}